{% extends "base.html" %}

{% block content %}
{% load static %}
{% load staticfiles %}
<style>
    h1 {
    color : darkblue;
    }
    h3 {
    color : grey;
    font-size: 100%;
    }

    p.outset {border-style: outset;}

</style>
<h1>About Me</h1>
<h3> Aileen Novero</h3>
<h3> MCS: NorthEasternUniversity - Seattle</h3>
<h3> Cambridge, MA</h3>
<table>
    <h2>Links</h2>
    <tr>
        <td>
            <p class="outset">
                <a href="https://www.linkedin.com/in/aileen-novero-7a814615">
                    <button>LinkedIn</button>
                </a></p>
        </td>
        <td>
            <p class="outset">
                <a href="mailto:novero.a@gmail.com?Subject=Hello%20from%20DatabaseApp" target="_top">
                    <button>Send Mail</button>
                </a></p>
        </td>
        <td>
            <p class="outset">
                <a href="https://github.com/noveroa">
                    <button>GitHub</button>
                </a>
            <p></td>
    </tr>
</table>

{% endblock %}